# This file is used to generate requirements.txt.
# NOTE:
# Use Python 3.8 or greater which ever is the minimum version of the python
# you plan on supporting when creating the environment or using pip-tools.
# Only run the commands below to manully upgrade packages in requirements.txt:
# 1) python -m pip install pip-tools
# 2) pip-compile --generate-hashes --resolver=backtracking --upgrade ./requirements.in
# If you are using nox commands to setup or build package you don't need to
# run the above commands manually.

# Required packages
pygls
packaging

# https://test.pypi.org/project/partcad/
--extra-index-url https://test.pypi.org/simple/
partcad>=0.7.57
 # TODO: Remove after https://github.com/jazzband/pip-tools/issues/2156
cadquery-ocp==7.7.2
# python-language-server 0.36.2 requires jedi<0.18.0,>=0.17.2, but you have jedi 0.19.2 which is incompatible.
# python-lsp-server
